/*Get in the background image */
body {
    background-image: url("../images/triathlon_water.jpeg");
}

/* Minor button customization */
#connect{
    
}

/**** Make the modal look fancy ****/
.modal-backdrop{
    background-color: #96d1de;
}
.modal-body{
    background-color: #7ac9d6;
}

.modal-header{
    background-color: #a2ce9d;
}

.modal-footer{
    background-color: #a2ce9d;
}

.fade.in {
    opacity: .91;
}
/***END CUSTOM MODAL CODE****/