/*Get in the background image */
body {
    background-image: url("../images/triathlon_water.jpeg");
}

/* Custom CSS for header on landing page */
.Landing-Header{  
    background: linear-gradient(to bottom, rgba(175, 255, 255, 222), rgba(0, 0, 0, 0));
    opacity: .84;
}
/* Header Text Customization */
#header-text{
    opacity: 1;
    color: black;
    ;
}

